
// Media sizes

$screen-xs: em(480);
$screen-sm: em(768);
$screen-md: em(1024);
$screen-lg: em(1440);

$breakpoints: (
    'xs': $screen-xs,
    'sm': $screen-sm,
    'md': $screen-md,
    'lg': $screen-lg,
);

// Font families

$font-family-sans-serif: 'open sans', arial, sans-serif;
$font-family-serif: domine, georgia, serif;


// Font sizes

$base-font-size: 16px;
$base-line-height: 1.4;

// Colors

$brand-primary: tomato;
$brand-primary-dark: darken($brand-primary, 10%);

$brand-secondary: #e05301;
$brand-secondary-dark: darken($brand-secondary, 10%);

$gray-base: #000;
$gray-light: #ecebe9;
$gray-lighter: #f5f5f5;
$gray: #7b7b7b;
$gray-dark: darken($gray-base, 10%);
$gray-darker: darken($gray-base, 10%);

$white: #fff;
$black: #222;


// Area specific colors

$body-bg: $white;

$link-color: $brand-secondary;
$link-color-hover: $brand-secondary-dark;
