.contents {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $brand-primary;
        margin-top: 1.6em;
        margin-bottom: 1.2em;
    }

    h1,
    h2 {
        &:first-of-type {
            margin-top: 0;
            margin-bottom: .5em;
        }
    }

    h2,
    h3 {
        font-family: $font-family-sans-serif;
    }

    p {
        color: $content-color;
    }

    .opening {
        font-size: 18px;
        font-family: $font-family-serif;
        color: $brand-primary;
    }

    a {

    }

    img {
        margin-bottom: 20px;

        // TODO: sort of hacky way to prevent featured image to have 'thumbnail' style
        &:not(:first-child) {
            background-color: $white;
            border: 1px solid $gray-lighter;
            padding: 5px;
        }

        // 767px is $screen-md - 1px
        // can't use variable since it's in em unit
        @media (max-width: 767px) {
            & {
                float: none !important;
                margin: 20px 0 !important;
            }
        }
    }

    hr {
        border: 0;
        height: 5px;
        background-color: $gray-lighter;
        background-image: repeating-linear-gradient(
          -45deg,
          $gray-lighter,
          $gray-lighter 5px,
          #FEFEFE 5px,
          #FEFEFE 10px
        );
        margin-bottom: 20px;
    }

    blockquote {
        color: #8bab2b;
        quotes: "\201C" "\201D";
        position: relative;
        font-family: $font-family-serif;
        font-size: 18px;
        font-weight: 300;
        margin-top: 40px;
        margin-bottom: 40px;

        &:before {
            content: open-quote;
            position: absolute;
            left: -40px;
            top: -10px;
            font-size: 72px;
        }
    }

    ul:not(.links) {
        margin-top: 0;
        margin-bottom: 40px;

        li {
            color: #606E7D;
            list-style: none;
            margin-bottom: 10px;
            position: relative;

            &:before {
                content: 'â—';
                color: $brand-secondary;
                position: absolute;
                left: -20px;
            }
        }

        ul {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    $counter-size: 20px;

    ol {
        margin-top: 0;
        margin-bottom: 40px;

        > li {
            color: #606E7D;
            list-style: none;
            counter-increment: step-counter;
            margin-bottom: 10px;
            position: relative;

            &:before {
                background-color: $brand-secondary;
                border-radius: 15px;
                color: $white;
                content: counter(step-counter);
                display: inline-block;
                font-size: 12px;
                line-height: $counter-size;
                text-align: center;
                width: $counter-size;
                height: $counter-size;
                position: absolute;
                left:  -(8px + $counter-size);
                top: 2px;
            }
        }

        ol {
            margin-top: 10px;
            margin-bottom: 10px;
            counter-reset: step-counter;
        }
    }

    table {
        width: 100%;
        margin-bottom: 20px;

        tr {
            &:hover td {
                background-color: $gray-lighter;
            }
        }

        th {
            padding: 10px;
            color: $brand-primary;
            text-align: left;
            background-color: $gray-lighter;
            border: 1px solid $gray-light;
        }

        td {
            padding: 10px;
            border: 1px solid $gray-light;
        }
    }

    dl {
        color: $content-color;
    }

    dt {
        // margin-top: 5px;
        margin-bottom: 10px;
    }

    dd {
        // margin-top: 5px;
        margin-bottom: 10px;
    }

    .element-invisible {
        margin: 0;
        padding: 0;
    }
}

// TODO: add same class for events listing if that page has individual classes
.node-newslist {
    h2 {
        margin-top: 0;
        margin-bottom: 10px;
    }

    .tags {
        margin-top: 10px;
        margin-bottom: 10px;

        li {
            &:before {
                display: none;
            }
        }
    }
}

.news-media {
    background-color: $gray-lighter;
    display: inline-block;
    margin-bottom: 20px;

    @include media(md) {
        float: right;
        width: 40%;
        margin-left: 20px;
    }

    .enlarge {
        font-size: 14px;
        color: #949494;
        margin-bottom: 5px;
    }

    img {
        margin-bottom: 10px;
    }

    figcaption {
        font-size: 14px;
        color: #7B7B7B;
    }

}
