* {
    &,
    &:before,
    &:after {
      box-sizing: border-box;
    }
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
    background: $body-bg;
    font-family: $font-family-sans-serif;
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        // color: $link-color-hover;
        text-decoration: underline;
    }

    &[href^='tel:'] {
        color: inherit;
    }
}

p {
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    border-color: $brand-primary-lighter;
    border-style: solid;
}
}

textarea {
    resize: vertical;
}

h1,
h2 {
    color: $brand-primary;
    font-family: $font-family-serif;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: .2em;

    > a {
        color: inherit;

        &:focus,
        &:hover {
            color: inherit;
        }
    }
}

h3,
h4,
h5,
h6 {
    font-family: $font-family-sans-serif;
    margin-top: 0;
    margin-bottom: .1em;

    > a {
        color: inherit;

        &:focus,
        &:hover {
            color: inherit;
        }
    }
}
