// Core functionality / settings
@import 'core/functions';
@import 'core/variables';
@import 'core/placeholders';
@import 'core/mixins';

// Vendor assets
@import 'vendor/normalize';

// Base styles
@import 'base/global';
@import 'base/content';
@import 'base/grid';
// @import 'base/print';

// Components
@import 'components/navs';
@import 'components/buttons';
@import 'components/media';
@import 'components/lists';
@import 'components/hr';
@import 'components/slideshow';
@import 'components/pager';
@import 'components/breadcrumbs';
@import 'components/embed-container';
// @import 'components/leaf';
@import 'components/calendar-date';
@import 'components/img';
@import 'components/menu';
@import 'components/icons';
@import 'components/tags';
@import 'components/social-icons';
@import 'components/comments';

// Layout
@import 'layout/header';
@import 'layout/footer';

// Pages
@import 'pages/events';

// Helpers
@import 'helpers/clearfix';
@import 'helpers/center';
@import 'helpers/margin';
@import 'helpers/border';
@import 'helpers/padding';
@import 'helpers/text-align';
@import 'helpers/background';
@import 'helpers/font-weight';
@import 'helpers/floats';
@import 'helpers/font';
@import 'helpers/color';
@import 'helpers/hide';
@import 'helpers/show';
@import 'helpers/sr-only';
@import 'helpers/shadow';

$DEBUG: false;

@if $DEBUG {
    body {
        position: relative;

        &:after {
            content: 'default';
            position: fixed;
            top: 0;
            left: 0;
            z-index: 9999;
            display: block;
            background: red;
            font-family: sans-serif;
            text-transform: uppercase;
            color: #fff;
            padding: 5px;

            @each $breakpoint-name, $breakpoint-size in $breakpoints {
                @include media($breakpoint-size) {
                    content: '#{$breakpoint-name}';
                }
            }
        }
    }
}
