.field-name-field-date-time {
    font-size: 20px;
    margin-bottom: 20px;

    .date-display-range {
        display: inline-block;
    }
}

.adr {
    margin-bottom: 10px;
}

// .location-hidden {
    // display: none;
// }

.email,
.tel {
    margin-bottom: 10px;

    abbr {
        border-bottom: 0;
    }
}
