.btn {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 0;
    border-radius: 24px;
    cursor: pointer;
    padding: 10px 30px;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-primary {
    color: $white;
    background: $brand-primary;
    border-color: $brand-primary;

    &:hover {
        color: $white;
        background: $brand-primary-dark;
    }
}

.btn-secondary {
    color: $white;
    background: $brand-secondary;
    border-color: $brand-secondary;

    &:hover {
        background: $brand-secondary-dark;
        color: $white;
        text-decoration: none;
    }
}

.btn-sm {
    font-size: 12px;
    padding: 5px 15px;
}
