.calendar-date {
    background: $brand-primary-light;
    position: relative;
    padding: 5px;

    &:before {
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 100%;
        border-top: 3px dotted $brand-primary-light;
    }
}

.calendar-date-month {
    display: block;
    color: $white;
    font-family: $font-family-sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.calendar-date-day {
    display: block;
    background-color: $white;
    color: $brand-primary;
    font-family: $font-family-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding: 5px;
}
