.icon {
	max-width: 100%;
	background-size: 100%;
	background-image: url('../images/sustainability/sprite.png');
}

.icon-academics-research {
	background-position: 0 0%;
	background-size: 100%;
}

.icon-buildings-infrastructure {
	background-position: 0 16.666667%;
	background-size: 100%;
}

.icon-energy-climate-change {
	background-position: 0 33.333333%;
	background-size: 100%;
}

.icon-food {
	background-position: 0 50%;
	background-size: 100%;
}

.icon-transportation {
	background-position: 0 66.666667%;
	background-size: 100%;
}

.icon-waste {
	background-position: 0 83.333333%;
	background-size: 100%;
}

.icon-water {
	background-position: 0 100%;
	background-size: 100%;
}
