.leaf {
    display: inline-block;
    color: $white;
    background-color: $brand-primary;
    border-radius: 0 50% 0 50%;
    font-size: 72px;
    font-family: $font-family-serif;
    padding: 20px;
}
