.media {
    @include clearfix();
    padding: 20px;

    & + & {
        margin-top: 20px;
    }

    &:nth-child(odd) {
        background: $gray-lighter;
    }
}

.media-body,
.media-left,
.media-right {
    display: table-cell;
    vertical-align: top;
}

.media-left {
    float: left;
    padding-right: 20px;
}

.media-right {
    float: right;
    padding-left: 20px;
}

.media-object {
    display: block;
}

.media-body {
    overflow: hidden;
    width: 10000px;
    zoom: 1;
    color: $brand-primary-light;
}

.media-heading {
    margin-top: 0;
    margin-bottom: 5px;

    a {
        color: $brand-primary;
    }
}
