.menu-btn {
    display: inline-block;
    color: $brand-secondary;
    border: 1px solid $brand-secondary;
    border-radius: 5px;
    white-space: nowrap;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: normal;

    @include media(lg) {
        display: none;
    }
}

.global-nav {
    display: none;
    background-color: $gray-lighter;
    position: relative;
    margin-bottom: 20px;
    padding: 10px;

    &.menu-open {
        display: block;
    }

    @include media(lg) {
        display: block;
        background-color: transparent;
        margin-bottom: 0;
        padding: 0;
    }

    ul {
        margin-bottom: 10px;

        @include media(lg) {
            margin-bottom: 0;
        }
    }

    li {
        margin-top: 5px;
        margin-bottom: 5px;

        @include media(lg) {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    a {
        border-color: $gray;

        @include media(lg) {

        }
    }

    &:before {
        position: absolute;
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent $gray-lighter transparent;
        bottom: 100%;
        right: 30px;

        @include media(lg) {
            display: none;
        }
    }
}
