// drupal overwrites
ul.menu li {
    margin-left: inherit;
    list-style: none !important;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
}

.item-list {
    ul {
        li {
            margin-left: inherit;
            margin-bottom: inherit;
        }
    }
}

.links {
    li {
        display: inline-block;
    }
}

// end overwrites

.nav-list {
    @include clearfix();
    list-style: none;
    margin-top: 0;
    margin-bottom: 20px;
    padding-left: 0;
}

.nav-list-item {

}

.nav-list-anchor {

}

.global-header {
    .nav-list-item {
        @include media(lg) {
            float: left;

            &:not(:first-child) {
                margin-left: 10px;
                padding-left: 12px;
                border-left: 2px solid $header-nav-rail;
            }
        }

        @include media(xl) {
            &:not(:first-child) {
                margin-left: 15px;
                padding-left: 17px;
            }
        }
    }

    .nav-list-anchor {
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        display: block;
        color: $brand-secondary;

        @include media(lg) {
            font-size: 14px;
        }

        @include media(xl) {
            font-size: 16px;
        }
    }
}

// tags (icons) list nav
.nav-list-tags {
    .nav-list-anchor {
        @include clearfix();
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .1em;
        margin-bottom: 10px;

        body:not(.midd_sustainability_inside) & {

            @include media(sm) {
                float: left;
                width: 50%;
                padding: 10px;
            }

            @include media(md) {
                text-align: center;
                width: percentage(1 / 7);
            }
        }
    }
}

.nav-list-tags-img {
    float: left;
    width: 40px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
    margin-bottom: 15px;

    body:not(.midd_sustainability_inside) & {

        @include media(md) {
            float: none;
            width: 100px;
            margin-right: auto;
        }
    }
}

.nav-list-tags-text {
    display: block;
    font-size: 14px;
}

// footer nav
.footer-nav {
    .nav-list-item {
        margin-bottom: 10px;
    }

    .nav-list-anchor {
        color: $brand-secondary;
    }
}

// TODO: gag
.widget-nav > .menu {
    box-shadow: 0 0 5px rgba(black, .25);
    padding: 0;
    margin: 0;

    > li {

        &.expanded > a {
            display: block;
            background-color: $brand-primary;
            color: $white;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 1px;
            width: 100%;
            padding: 10px 20px;
        }

        > ul {
            padding-left: 20px;
            padding-right: 20px;
            margin-top: 5px;
            margin-bottom: 5px;

            > li {
                padding-top: 10px;
                padding-bottom: 10px;

                &:not(:last-child) {
                    border-bottom: 1px solid $gray-light;
                }

                > a {
                    color: $brand-primary-light;
                }

                ul {
                    padding-left: 20px;
                    margin-top: 5px;
                    margin-bottom: 0;

                    li {
                        padding-top: 3px;
                        padding-bottom: 3px;

                        > a {
                            color: $brand-primary;
                            font-size: 14px;

                            &.active {
                                position: relative;

                                &:before {
                                    content: '▸';
                                    right: 105%; // fallback for calc though it's pretty much supported http://caniuse.com/#search=calc
                                    right: calc(100% + 5px);
                                    position: absolute;
                                }
                            }
                        }

                        // 4rd level nest
                        ul li a {
                            color: $gray;
                        }
                    }
                }
            }
        }
    }
}
