.pager {
    // @include clearfix();
    padding-left: 0;
    margin-top: 0;
    display: table;
    line-height: 1.6 !important; // overwrite system.theme

    li {
        list-style: none;
        display: table-cell !important; // overwrite system.theme: !important not needed, but table-cell is
        width: 1%;
        white-space: nowrap;
        text-align: center;
        padding: 0 5px !important; // overwrite system.theme: important to remove top/btm padding but l/r padding should stay
        font-weight: normal !important; // overwrite system.theme

        // ugly override from .contents styles
        // currently pager cannot be outside of .contents in drupal
        &:before {
            display: none;
        }

        a {
            display: block;
            font-size: 14px;
            border-radius: 24px;
            // background-color: $gray-lighter;
            transition: .2s;
            padding: 5px 10px;
            text-transform: capitalize;

            &:hover,
            &:focus {
                text-decoration: none;
                background-color: $brand-secondary;
                color: $white;
            }
        }
    }

    .pager-item {
        display: none;

        @include media(md) {
            display: table-cell;
        }
    }

    .pager-current {
        color: $gray;
        padding: 5px 10px;
        background-color: $gray-lighter;
        border-radius: 24px;
        font-size: 14px;
    }

    .pager-ellipsis {
        color: $gray;
        padding: 5px 10px;
        background-color: $gray-lighter;
        border-radius: 24px;
        font-size: 14px;
        display: none;

        @include media(md) {
            display: table-cell;
        }
    }

    .pager-first {
        display: none;

        @include media(sm) {
            display: table-cell;
        }
    }

    .pager-last {
        display: none;

        @include media(sm) {
            display: table-cell;
        }
    }
}
