.global-footer {
    color: $footer-link-color;
    background-color: $brand-primary;
    font-size: 14px;
    padding-top: 40px;
    padding-bottom: 40px;

    a {
        color: $footer-link-color;
    }

    .list-inline li {
        vertical-align: middle;
    }
}

// TODO: target this some other way than the big scary ID
#block-middlebury-midd-sustainability-midd-sustainability-address {
    font-size: 14px;
}
