$logo-width: 45px;
$gutter-width: 15px;
$wordmark-spacing: 12px;

.global-header {

    input[type="search"] {
        font-size: 12px;
        border-radius: 3px;
        border: 0;
        box-sizing: border-box;
        width: 160px;
        position: relative;
        top: 12px;
        padding: 5px;
    }
}

.global-header-branding {
    background-color: $brand-primary;
    height: 50px;
    margin-bottom: 20px;
}

.global-header-logo {
    text-align: center;
    margin: 0 auto;
    width: $logo-width;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);

    @include media(md) {
        position: absolute;
        left: 15px;
        top: 13px;
        z-index: 3;
        transform: none;
    }
}

.global-header-wordmark {
    display: none;
    width: 107px;

    @include media(md) {
        display: block;
        position: absolute;
        top: 21px;
        left: $logo-width + $gutter-width + $wordmark-spacing;
    }
}

.global-header-title {
    color: $brand-primary;
    font-family: $font-family-serif;
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 20px;

    @include media(sm) {
        // font-size: 24px;
        margin-bottom: 10px;
    }

    @include media(md) {
        // font-size: 36px;
    }

    @include media(lg) {
        font-size: 40px;
    }

    a {
        &:hover {
            text-decoration: none;
        }
    }
}
