.global-header {

}

.global-header-branding {
    position: relative;
    background-color: $brand-primary;
    height: 100px;
}

.global-header-logo {
    position: absolute;
    right: 10%;
    top: 30px;
}

.global-header-title {
    font-weight: normal;
    font-family: $font-family-serif;
    color: $brand-primary;
    margin-bottom: 20px;
}
